.flex{
    display:flex;
    align-items: center;
    justify-content: center;
}
.flex-s{
    justify-content: flex-start;
}
.flex-c{
    flex-direction: column;
}
.grid{
    display: grid;
    align-items: center;
    justify-content: center;
}
.grid-gap{
    gap: 3rem;
}
.grid-3{
    grid-template-columns: repeat(3,1fr);
}
.grid-2{
    grid-template-columns: repeat(2,1fr);
}
.grid-p-3{
    grid-template-columns: 10% 60% 10%;
}
.grid-p-2{
    grid-template-columns: 20% 80%;
}
.card{
    background-color: #fff;
    color:#333;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    border-radius: 20px;
}
img{
    max-width: 100%;
    height:auto;
}
.border-radius-50{
    border-radius: 50%;
}
.btn{
    border:none;
    padding:5px;
    margin:5px;
    border-radius: 8px;
}
.btn-outline{
    outline: 1px solid var(--primary);
    border-radius: 30px;
}
.hbutton:hover{
    transform: scale(0.9);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2),
    0 -1px 1px rgba(0,0,0,0.2);
}
/* font styling  */
.robot{
    font-family:Robot;
}
.inline{
    display: inline-block;
    position:absolute;
    float:right;
}
.text{
    text-decoration: none;
    color: #fff;
}
.text-center{
    text-align:center;
}
.text-right{
    text-align:right;
}
.text-justify{
    text-align:justify;
}
.bold{
    font-weight: bold;
}

/* paragraph styling  */
.para-1{
    padding: 5px 3rem 5px 3rem;
}
/* multiple font size  */
.sm{
    font-size: 10px;
}
.md{
    font-size:1rem;
}
.lg{
    font-size: 1.5rem;
}
.xl{
    font-size: 2rem;
}
.xxl{
    font-size:2.5rem;
}
.xxxl{
    font-size:3rem;
}
/* padding */
.p-0{
    padding: 0;
}
.p-1{
    padding:1rem;
}
.p-2{
    padding:2rem;
}
.p-3{
    padding:3rem;
}
.p-4{
    padding:4rem;
}
.p-5{
    padding:5rem;
}
/* padding in x-axis  */
.px-1{
    padding: 0 1.5rem;
}
.px-2{
    padding: 0 2.5rem;
}
.px-3{
    padding: 0 3.5rem;
}
.px-4{
    padding: 0 4.5rem;
}
.px-5{
    padding: 0 5.5rem;
}

/* padding in y-axis  */
.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2.5rem 0;
}
.py-3{
    padding: 3.5rem 0;
}
.py-4{
    padding: 4.5rem 0;
}
.py-5{
    padding: 5.5rem 0;
}
/* margin */
.m-a{
    margin:auto;
}
.m-0{
    margin: 0;
}
.m-1{
    margin:1rem;
}
.m-2{
    margin:2rem;
}
.m-3{
    margin:3rem;
}
.m-4{
    margin:4rem;
}
.m-5{
    margin:5rem;
}
/* margin in x-axis  */
.mx-1{
    margin: 0 1.5rem;
}
.mx-2{
    margin: 0 2.5rem;
}
.mx-3{
    margin: 0 3.5rem;
}
.mx-4{
    margin: 0 4.5rem;
}
.mx-5{
    margin: 0 5.5rem;
}
/* margin in y-axis  */
.my-1{
    margin: 1.5rem 0;
}
.my-2{
    margin: 2.5rem 0;
}
.my-3{
    margin: 3.5rem 0;
}
.my-4{
    margin: 4.5rem 0;
}
.my-5{
    margin: 5.5rem 0;
}
/* margin top  */
/* margin */
.mt-0{
    margin: 0;
}
.mt-1{
    margin:10px 0 0 0;
}
.mt-2{
    margin:20px 0 0 0;
}
.mt-3{
    margin:30px 0 0 0;
}
.mt-4{
    margin:40px 0 0 0;
}
.mt-5{
    margin:50px 0 0 0;
}